@tailwind base;
@tailwind components;
@tailwind utilities;

.navpop {
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #434343;;
  background: #24292c;
}

.glow {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.purple-glow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.purple-button {
  background: #ba44c5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.like-button {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 0.01%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.create-card {
  background: linear-gradient(
    180.41deg,
    rgba(255, 255, 255, 0.16) 1.04%,
    rgba(255, 255, 255, 0.16) 1.04%,
    rgba(5, 5, 5, 0.199292) 89.73%,
    rgba(0, 0, 0, 0.2) 89.74%
  );
  border: 1px solid #a3a3a3;
  box-shadow: 0px 4px 40px rgba(186, 68, 197, 0.2);
  border-radius: 16px;
}

.progress {
  position: relative;
  margin: auto;
  top: 35px;
  right: 42px;
  transform: rotate(1.5deg);
  /* margin: 4px; */
  /* float: left; */
  text-align: center;

  scale: 1.7;
}
.barOverflow {
  /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden; /* Comment this line to understand the trick */
  width: 90px;
  height: 45px; /* Half circle (overflow) */
  margin-bottom: -14px; /* bring the numbers up */
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 14px solid #7a7a7a; /* half gray, */
  border-bottom-color: #ba44c5; /* half azure */
  border-right-color: #ba44c5;
}

.some {
  background: linear-gradient(
    180deg,
    rgba(66, 70, 72, 0.5) 0%,
    rgba(66, 70, 72, 0.15) 100%
  );
  border-radius: 6px;
}

.imgg {
  background: linear-gradient(
    180.41deg,
    rgba(255, 255, 255, 0.16) 1.04%,
    rgba(255, 255, 255, 0.16) 1.04%,
    rgba(5, 5, 5, 0.199292) 89.73%,
    rgba(0, 0, 0, 0.2) 89.74%
  );
  border: 1px solid #474747;
  box-shadow: 0px 0px 10px rgba(186, 68, 197, 0.2);
}

.circ {
  background: linear-gradient(
    180deg,
    rgba(44, 44, 44, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 0.01%,
    rgba(255, 255, 255, 0.4) 100%,
    rgba(17, 17, 17, 0.4) 100%
  );
  opacity: 0.5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 641px) {
  .mobile-button {
    position: fixed;
    z-index: 10;
    bottom: 16px;
    right: 12px;
  }
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 63.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 0 0% 14.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}